@charset "UTF-8";
h1 {
    font-family: Arial;
    font-size: 35pt;
    color: brown;
    text-shadow: 2px 2px 20px black;
} p {
text-align: justify;
text-indent: 50px;
} body {
       
   background-color: hsla(165, 81%, 93%, 0.5);
   /* hsl(hue saturation, lightness)*/
   /* background-color: rgb(127, 131, 133);*/
    /*background-image: url(" aqui dentro vai um fundo baixado arquivo background");*/
    color: rgba(0, 0, 0, 1);
}